%html{:lang => "end"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%title EDC Mock Up
		%link{:href => "css/bootstrap.css", :rel => "stylesheet"}
		%link{:href => "css/bootstrap-responsive.css", :rel => "stylesheet"}

	%body
		.container-narrow
			EDC Mockup

		%script{:src => "js/jquery.js"}
		%script{:src => "js/bootstrap.js"}
