%html{:lang => "end"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title EDC Mock Up
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/edc.css", :rel => "stylesheet"}

  %body
    .container.narrow
      .page-header
        %ul.list-inline
          %li
            %img{:src => "img/logo.png"}
        %p.lead
          The Economic Development Corporation's validation and promotion of companies in NYC

      %p The New York Economic Development Committee is working together with Gust to help support the NYC startup community. We've gathered information on companies based in NYC and would like blah blah blah. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      %p Please verify your company's information below, or make any edits necessary
      %br
      %p.text-center
        %a{:href => "/publish?company=zxcvadsfadfj9"}
          %button.btn.btn-lg.btn-success{:type => "submit"}
            Validate and Publish
      %br
      %h4 Company Details
      %hr
      .form-horizontal{:role => "form"}
        .form-group
          %label.col-sm-4.control-label
            Logo
          .col-sm-4
            %img.img-logo{:src => "https://sphotos-a.xx.fbcdn.net/hphotos-frc1/224098_196876373688460_6265449_n.jpg"}
            %br
          .col-sm-4
            %p.text-muted Logo edits can be made after publishing your profile
        .form-group
          %label.col-sm-4.control-label
            Company Name
          .col-sm-4
            %input.form-control{:placeholder => "Brooklyn Food Coalition"}
        .form-group
          %label.col-sm-4.control-label
            Website
            %a{:href => "http://www.mysite.com", :target => "_blank"}
              %span.glyphicon.glyphicon-new-window
          .col-sm-4
            %input.form-control{:placeholder => "http://www.brooklynfoodcoalition.org"}
        .form-group
          %label.col-sm-4.control-label
            Company Email
          .col-sm-4
            %input.form-control{:placeholder => "info@brooklynfoodcoalition.org", :type => "email"}
        .form-group
          %label.col-sm-4.control-label
            Company Summary
          .col-sm-4
            %textarea.form-control{:placeholder => "Grassroots organization dedicated to sustainable food system in Brooklyn"}
        .form-group
          %label.col-sm-4.control-label
            Address
          .col-sm-4
            %input.form-control{:placeholder => "33 Flatbush Avenue"}
        .form-group
          %label.col-sm-4.control-label
          .col-sm-4
            %input.form-control{:placeholder => "5th Floor"}
        .form-group
          %label.col-sm-4.control-label
            City
          .col-sm-4
            %input.form-control{:placeholder => "Brooklyn"}
        .form-group
          .col-sm-4
          %label.col-sm-1.control-label
            State
          .col-sm-1
            %input.form-control{:placeholder => "NY"}
          %label.col-sm-1.control-label
            Zip
          .col-sm-1
            %input.form-control{:placeholder => "11217"}
        %h4 CEO/Founder/Owner Details
        %hr
        .form-group
          %label.col-sm-4.control-label
            Email
          .col-sm-4
            %input.form-control{:placeholder => "nancy@brooklynfoodcoalition.org"}
          .col-sm-4
            %p.text-muted This will also be used as your Gust login account
        .form-group
          %label.col-sm-4.control-label
            First Name
          .col-sm-4
            %input.form-control{:placeholder => "Nancy"}
        .form-group
          %label.col-sm-4.control-label
            Last Name
          .col-sm-4
            %input.form-control{:placeholder => "Brewer"}
        .form-group
          %label.col-sm-4.control-label
            Position
          .col-sm-4
            %input.form-control{:placeholder => "General Coordinator"}
        .form-group
          %label.col-sm-4.control-label
            Phone
          .col-sm-4
            %input.form-control{:placeholder => "(347) 921-3918"}
        %h4 Social Links
        %hr
        .form-group
          %label.col-sm-4.control-label
            LinkedIn
            %a{:href => "http://www.linkedin.com", :target => "_blank"}
              %span.glyphicon.glyphicon-new-window
          .col-sm-4
            %input.form-control{:placeholder => "http://www.linkedin.com/groups?home=&gid=2672445&trk=anet_ug_hm"}
        .form-group
          %label.col-sm-4.control-label
            Facebook
            %a{:href => "http://www.facebook.com", :target => "_blank"}
              %span.glyphicon.glyphicon-new-window
          .col-sm-4
            %input.form-control{:placeholder => "https://www.facebook.com/BrooklynFoodCoalition"}
        .form-group
          %label.col-sm-4.control-label
            Twitter
            %a{:href => "http://www.twitter.com", :target => "_blank"}
              %span.glyphicon.glyphicon-new-window
          .col-sm-4
            %input.form-control{:placeholder => "N/A"}
        %br
    %p.text-center
      %button.btn.btn-lg.btn-success{:type => "submit"}
        Validate and Publish
    %hr
    %p.text-center
      %img{:src => "img/powered_by_gust_light_small.png"}


    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.min.js"}
