%html{:lang => "end"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title EDC Mock Up
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/css/edc.css", :rel => "stylesheet"}

      = yield
    %hr
    %p.text-center
      %img{:src => "/img/powered_by_gust_light_small.png"}


    %script{:src => "/js/jquery.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/add_team.js"}
