%html{:lang => "end"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title EDC Mock Up
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/edc.css", :rel => "stylesheet"}

  %body
    .container.narrow
      .page-header
        %ul.list-inline
          %li
            %img{:src => "img/logo.png"}
        %p.lead
          Thank You!
        %p Validating your company's information will help the EDC and NYC as whole grow and prosper. In addition to the promotional elements you now also have a profile on Gust, the premiere platform for startups and Angel investing.

      %h4 Gust Profile
      %hr
      .row
        .col-sm-4
          %p.text-center
            %a{:href => "#"}
              %img.img-gust{:src => "img/gust-logo.png"}
        .col-sm-4
          %h4.text-center Gust Login Email:
          %p.text-center.lead
            = @company.primary_contact_email
          %p.text-center
            %a
              %button.btn.btn-success.btn-lg
                Go To Gust
        .col-sm-4
          %p
            A profile has been made for you on the platform and an email sent to your address on how to access it.
          %p
            Gust is a platform for entrepreneurs, investors and startups. Your Gust profile can be used to maintain a presence for your company, find funding and build your network. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .row
        .col-sm-4



    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.min.js"}
